<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>云游四海</title>
    <link rel="shortcut icon" href="//localhost:8081/img/long.jpg"/>

    <link rel="stylesheet" href="http://localhost:8081/css/qyou.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8081/css/fileinput.min.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://localhost:8081/js/fileinput.min.js"></script>
    <script src="http://localhost:8081/js/zh.js"></script>
    <link rel="stylesheet" href="http://localhost:8081/css/bootstrap-dialog.css">
    <script src="http://localhost:8081/js/bootstrap-dialog.js"></script>

</head>

<body style="">
<div id="idxRootWrap">
    <!-- 头部调用文件 -->
    <link rel="stylesheet"
          href="http://static.qyer.com/models/common/component/headfoot/dist/headerfoot_black.min-fe3dcfc42c1fa73210caa4977af7b29a.css">
    <script src="http://static.qyer.com/models/common/component/headfoot/dist/headerfoot_black.min-2dd8855dca23c6459c082e79dccf6aa1.js"></script>

    <div id="head"></div>
    <div id="crumnav">
        <div class="cn-wrap">
            <div class="cn-ct">
                <div class="cn-fr">
                    <div class="cfsub cn-pub" data-target="#toCreateArticle"><i class="inbg xpub" data-bn-ipg="bbs-index-newThread-tab"></i>发新帖</div>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#toCreateArticle">发新帖</button>
                </div>



                <div class="cn-desc">
                    <h1 class="desctitle">云游四海</h1>
                    <div class="descjj">
                        <strong class="descfs">分享</strong><i>.</i><strong>结伴</strong><i>.</i><strong>找攻略</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="cns-wrap">
            <div class="cnsw-sdi">
                <div class="cn-slide cszdx">
                    <div class="cns-inner">
                        <a href="http://bbs.qyer.com/thread-2893447-1.html" target="_blank" class="cs-cover"
                           data-bn-ipg="bbs-index-top-pic-1"><img
                                src="http://localhost:8081/img/1.jpg"
                                alt="背包去关西寻找安藤忠雄的建筑名作，只因一场莫名其妙的梦"></a>
                        <div class="cs-co">
                            <a href="http://www.qyer.com/u/1063325" target="_blank" class="cs-userpic"
                               data-bn-ipg="bbs-index-top-writerPic-1"><img
                                    src="http://localhost:8081/img/head/1.jpg" alt="荒梁"></a>
                            <p class="cs-unw"><a href="http://www.qyer.com/u/1063325" target="_blank"
                                                 data-bn-ipg="bbs-index-top-writerName-1">荒梁</a></p>
                            <a href="http://bbs.qyer.com/thread-2893447-1.html" target="_blank" class="cs-title"
                               data-countlen="0" data-bn-ipg="bbs-index-top-title-1">背包去关西寻找安藤忠雄的建筑名作，只因一场莫名其妙的梦</a>
                        </div>
                    </div>
                </div>
                <div class="cn-slide">
                    <div class="cns-inner">
                        <a href="http://bbs.qyer.com/thread-2886219-1.html" target="_blank" class="cs-cover"
                           data-bn-ipg="bbs-index-top-pic-2"><img
                                src="http://localhost:8081/img/2.jpg"
                                alt="“菲”比寻常游学记，比冷门更冷门的小众地--解锁菲律宾隐藏新技能（全文完）"></a>
                        <div class="cs-co">
                            <a href="http://www.qyer.com/u/562326" target="_blank" class="cs-userpic"
                               data-bn-ipg="bbs-index-top-writerPic-2"><img
                                    src="http://localhost:8081/img/head/2.jpg" alt="rain_chenyu"></a>
                            <p class="cs-unw"><a href="http://www.qyer.com/u/562326" target="_blank"
                                                 data-bn-ipg="bbs-index-top-writerName-2">rain_chenyu</a></p>
                            <a href="http://bbs.qyer.com/thread-2886219-1.html" target="_blank" class="cs-title"
                               data-countlen="0" data-bn-ipg="bbs-index-top-title-2">“菲”比寻常游学记，比冷门更冷门的小众地--解锁菲律宾隐藏新技能（全文完）</a>
                        </div>
                    </div>
                </div>
                <div class="cn-slide">
                    <div class="cns-inner">
                        <img class="cnsi-authen index-tooltip" data-tooltiptype="1"
                             data-url="//www.qyer.com/u/member/xuan" data-title="摄影资深用户"
                             src="http://common1.qyerstatic.com/bbs/old/images/authentication_u.png" alt="摄影资深用户">
                        <a href="http://bbs.qyer.com/thread-2894887-1.html" target="_blank" class="cs-cover"
                           data-bn-ipg="bbs-index-top-pic-3"><img
                                src="http://localhost:8081/img/3.jpg"
                                alt="北纬1度，去美娜多潜水，去Bromo拍星"></a>
                        <div class="cs-co">
                            <a href="http://www.qyer.com/u/1551977" target="_blank" class="cs-userpic"
                               data-bn-ipg="bbs-index-top-writerPic-3"><img
                                    src="http://localhost:8081/img/head/3.jpg" alt="非鸟的泪"></a>
                            <p class="cs-unw"><a href="http://www.qyer.com/u/1551977" target="_blank"
                                                 data-bn-ipg="bbs-index-top-writerName-3">非鸟的泪</a></p>
                            <a href="http://bbs.qyer.com/thread-2894887-1.html" target="_blank" class="cs-title"
                               data-countlen="0" data-bn-ipg="bbs-index-top-title-3">北纬1度，去美娜多潜水，去Bromo拍星</a>
                        </div>
                    </div>
                </div>
                <div class="cn-slide">
                    <div class="cns-inner">
                        <a href="http://bbs.qyer.com/thread-2823521-1.html" target="_blank" class="cs-cover"
                           data-bn-ipg="bbs-index-top-pic-4"><img
                                src="http://localhost:8081/img/4.jpg"
                                alt="【永恒ღ三人行】——勇闯美西18天自驾之旅（完结）"></a>
                        <div class="cs-co">
                            <a href="http://www.qyer.com/u/1003898" target="_blank" class="cs-userpic"
                               data-bn-ipg="bbs-index-top-writerPic-4"><img
                                    src="http://localhost:8081/img/head/4.jpg" alt="summercoca520"></a>
                            <p class="cs-unw"><a href="http://www.qyer.com/u/1003898" target="_blank"
                                                 data-bn-ipg="bbs-index-top-writerName-4">summercoca520</a></p>
                            <a href="http://bbs.qyer.com/thread-2823521-1.html" target="_blank" class="cs-title"
                               data-countlen="0" data-bn-ipg="bbs-index-top-title-4">【永恒ღ三人行】——勇闯美西18天自驾之旅（完结）</a>
                        </div>
                    </div>
                </div>
                <div class="cn-slide">
                    <div class="cns-inner">
                        <a href="http://bbs.qyer.com/thread-2893449-1.html" target="_blank" class="cs-cover"
                           data-bn-ipg="bbs-index-top-pic-5"><img
                                src="http://localhost:8081/img/5.jpg"
                                alt="从人类社会到蛮荒之地——澳大利亚探险之旅"></a>
                        <div class="cs-co">
                            <a href="http://www.qyer.com/u/1402018" target="_blank" class="cs-userpic"
                               data-bn-ipg="bbs-index-top-writerPic-5"><img
                                    src="http://localhost:8081/img/head/5.jpg" alt="超级小包子"></a>
                            <p class="cs-unw"><a href="http://www.qyer.com/u/1402018" target="_blank"
                                                 data-bn-ipg="bbs-index-top-writerName-5">超级小包子</a></p>
                            <a href="http://bbs.qyer.com/thread-2893449-1.html" target="_blank" class="cs-title"
                               data-countlen="0" data-bn-ipg="bbs-index-top-title-5">从人类社会到蛮荒之地——澳大利亚探险之旅</a>
                        </div>
                    </div>
                </div>
                <ul class="cn-sy">
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2893447-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-1"><span class="csli-span"><img
                                src="http://localhost:8081/img/101.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2893447-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2886219-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-2"><span class="csli-span"><img
                                src="http://localhost:8081/img/102.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2886219-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2894887-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-3"><span class="csli-span"><img
                                src="http://localhost:8081/img/103.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2894887-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2823521-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-4"><span class="csli-span"><img
                                src="http://localhost:8081/img/104.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2823521-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2893449-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-5"><span class="csli-span"><img
                                src="http://localhost:8081/img/105.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2893449-1.html" class="csl-b" target="_blank"></a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- 背景模糊 -->
        <div class="cnbgwrap">
            <div class="cnb-wp bgzdx">
                <img src="http://localhost:8081/img/mh1.jpg"
                     class="cn-bg cnb-show">
            </div>
            <div class="cnb-wp">
                <img src="http://localhost:8081/img/mh2.jpg"
                     class="cn-bg ">
            </div>
            <div class="cnb-wp">
                <img src="http://localhost:8081/img/mh3.jpg"
                     class="cn-bg ">
            </div>
            <div class="cnb-wp">
                <img src="http://localhost:8081/img/mh4.jpg"
                     class="cn-bg ">
            </div>
            <div class="cnb-wp">
                <img src="http://localhost:8081/img/mh5"
                     class="cn-bg ">
            </div>
        </div>
    </div>

    <!--内容列表部分-->
    <div id="conContainer" style="margin-left: 15%">
        <div style="width: 55%;">

            <div th:each="info, state: ${list}">
                <br>
                <div>
                    <img th:src="@{'/img/'+${info.headPic}}" class="img-circle" style="width: 60px;float: left;margin-top: -20px;"/>
                    <p style="float: left;margin-left: 20px;" th:text="${info.nickname}"></p>
                    <p style="float: left;margin-left: 20px; color: #D0D0D0;" th:text="'在'+${info.address}+'发布的'"></p>
                    <p style="float: left;margin-left: 20px; color: #D0D0D0;">171人赞</p>
                    <img src="/img/ico/zan.jpg" style="width: 20px;height: 20px; margin-left: 20px;"/>
                </div>

                <div class="文章" style="clear: both;text-indent:30px; margin-left: 50px;">
                    <p th:text="'标题:'+${info.title}" style="font-size: larger"></p>
                    <p th:text="${info.content}" style="color:#888888;font-style:oblique;font-size: small;float: left;"></p>
                    <img src="/img/article/01.jpg">
                </div>


            </div>


        </div>

    </div>

    <script type="text/javascript">

    </script>





    <!-- 底部调用文件 -->
    <div style="display: none;">http://www.qyer.com/</div>
    <div class="qyer_footer">
        <div class="topline"></div>
        <div class="content">
            <p class="nav">
                <a href="http://www.qyer.com/htmlpages/about.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-about-1">穷游简介</a>
                <a href="http://www.qyer.com/partner/" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-about-3">合作伙伴</a>
                <a href="http://www.qyer.com/job/" target="_blank" rel="nofollow" data-bn-ipg="foot-join-1">加入我们</a>
                <a href="http://site.qyer.com/tyro/" target="_blank" rel="nofollow" data-bn-ipg="foot-help-1">新手上路</a>
                <a href="http://m.qyer.com/guide/page/aEKs7ooblmk/?lk=1" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-help-2">使用帮助</a>
                <a href="http://www.qyer.com/sitemap.html" target="_blank" data-bn-ipg="foot-help-4">网站地图</a>
                <a href="http://www.qyer.com/htmlpages/member.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-1">会员条款</a>
                <a href="http://www.qyer.com/htmlpages/bbsguide.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-2">社区指南</a>
                <a href="http://www.qyer.com/htmlpages/copyright.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-3">版权声明</a>
                <a href="http://www.qyer.com/htmlpages/exemption.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-4">免责声明</a>
                <a href="http://www.qyer.com/htmlpages/contact.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-about-2">联系我们</a>
            </p>
            <p class="info">
                2004-2018 © 穷游网® qyer.com All rights reserved. Version v5.57 京ICP备12003524号 京公网安备11010102001935号
                京ICP证140673号
                <a target="_blank" style="color:inherit;" href="http://static.qyer.com/images/yyzz.jpg">营业执照</a>
                <a target="_blank" style="color:inherit;" href="http://static.qyer.com/images/jyxkz.jpg">经营许可证</a>
            </p>

            <!--友情链接模块-->

        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="toCreateArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <label>标题：</label>
                        <input type="text" id="title">
                    </h4>
                </div>
                <div class="modal-body">
                    <label>内容：</label>
                    <input type="text" id="content">
                </div>


                <input id="file-zh" name="files" type="file" class="file" multiple>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addArticle();">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>



</div>
<script type="text/javascript">
    //轮播图定时器
    $(".cn-sy li").on("hover",function(){
        var index = $(this).index();
        $(".cn-slide").eq(index).addClass("cszdx").siblings().removeClass("cszdx");
        $(".cnb-wp").eq(index).addClass("bgzdx").siblings().removeClass("bgzdx");
    });

    var a = $(".cn-sy li");
    var iNow = 0;
    var timer = null;
    timer=setInterval(function(){ //打开定时器
        iNow++;    //让图片的索引值次序加1，这样就可以实现顺序轮播图片
        if(iNow>a.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
            iNow=0;
        }
        a.eq(iNow).trigger("hover"); //模拟触发数字按钮的click
    },2000);

    $(".cn-sy li").mouseenter(function() {
        var index = $(this).index();
        $(".cn-slide").eq(index).addClass("cszdx").siblings().removeClass("cszdx");
        $(".cnb-wp").eq(index).addClass("bgzdx").siblings().removeClass("bgzdx");
        clearInterval(timer);
    });
    $(".cn-sy li").mouseleave(function(){
        timer=setInterval(function(){ //打开定时器
            iNow++;    //让图片的索引值次序加1，这样就可以实现顺序轮播图片
            if(iNow>a.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
                iNow=0;
            }
            a.eq(iNow).trigger("hover"); //模拟触发数字按钮的click
        },1000);
    });


    //上传文件
    $("#file-zh").fileinput({
        uploadUrl: 'http://localhost:8081/upload',
    });
    $('#file-zh').on('fileuploaded', function (event, data, previewId, index) {
        var date = data.jqXHR.responseJSON;
        alert(date);
    });

    function shangchuan(){
        $('#file-zh').fileinput('upload');
    }

    function addArticle(){
        var title = $("#title").val();
        var content = $("#content").val();
        $.ajax({
            url:'http://localhost:8081/addArticle',
            data:{
                'title': title,
                'content': content
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    $("#toCreateArticle").modal('hide');
                    alert("创建成功");
                }else {
                    $("#toCreateArticle").modal('hide');
                    alert("添加失败");
                }
            },
            error:function(){
                $("#toCreateArticle").modal('hide');
                alert("系统出错");
            }
        });
    }
</script>
<!-- js文件 -->
<script src="http://common1.qyerstatic.com/bbs/js/index/index_js_btm_1954eb6a3dbe1143fea36b7629b9a0e1.js"></script>
</body>
</html>