<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>云游四海</title>
    <link rel="shortcut icon" href="http://118.25.102.29:8084/img/long.jpg"/>

    <link rel="stylesheet" href="/css/qyou.css">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fileinput.min.css">
    <link rel="stylesheet" href="/css/chat.css">

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="/js/fileinput.min.js"></script>
    <script src="/js/zh.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-dialog.css">
    <script src="/js/bootstrap-dialog.js"></script>
    <script src="/js/bootstrap-paginator.js"></script>
    <style  type="text/css">
        a{
            cursor:pointer;
        }
    </style>
</head>

<body style="">
<div id="idxRootWrap">
    <!-- 头部调用文件 -->
    <link rel="stylesheet"
          href="http://static.qyer.com/models/common/component/headfoot/dist/headerfoot_black.min-fe3dcfc42c1fa73210caa4977af7b29a.css">
    <script src="http://static.qyer.com/models/common/component/headfoot/dist/headerfoot_black.min-2dd8855dca23c6459c082e79dccf6aa1.js"></script>
    <div >
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p style="margin-top: 15px;color: #fcf8e3" th:if="${session?.user!=null}" th:inline="text">欢迎你，[[${session?.user?.nickname}]]!</p>
                    <p style="margin-top: 15px;color: #fcf8e3" th:if="${session?.user==null}" th:inline="text">欢迎你，游客</p>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/index">首页</a></li>
                        <li><a href="/my">我的主页</a></li>
                        <li class="dropdown navbar-nav">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                神游伙伴
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a href="http://jiudian.ctrip.cn/" target="_blank">携程</a></li>
                                <li><a href="http://www.tuniu.com/" target="_blank">途牛</a></li>
                                <li><a href="http://www.lvmama.com/" target="_blank">驴妈妈</a></li>
                            </ul>
                        </li>
                        <li class="dropdown navbar-nav">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                消息
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu list-group" id="chatTable">

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="crumnav" style="margin-top: -20px;">
        <div class="cn-wrap">
            <div class="cn-ct">
                <div class="cn-fr">
                    <button style="margin-top: 40px;margin-right: 80px;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#toCreateArticle">发新帖</button>
                </div>
                <div class="cn-desc">
                    <h1 class="desctitle">云游四海</h1>
                    <div class="descjj">
                        <strong class="descfs">分享</strong><i>.</i><strong>结伴</strong><i>.</i><strong>找攻略</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="cns-wrap">
            <div class="cnsw-sdi">


                <div th:each="info, state: ${adverts}">
                    <div th:class="${state.index==1}? 'cn-slide cszdx':'cn-slide'">
                        <div class="cns-inner">
                            <a href="http://bbs.qyer.com/thread-2893447-1.html" target="_blank" class="cs-cover"
                               data-bn-ipg="bbs-index-top-pic-1"><img
                                    th:src="@{${info.backgroundPic}}"
                                    alt="背包去关西寻找安藤忠雄的建筑名作，只因一场莫名其妙的梦"></a>
                            <div class="cs-co">
                                <a href="http://www.qyer.com/u/1063325" target="_blank" class="cs-userpic"
                                   data-bn-ipg="bbs-index-top-writerPic-1"><img
                                        th:src="@{'/img'+${info.headPic}}" alt="荒梁"></a>
                                <p class="cs-unw"><a href="http://www.qyer.com/u/1063325" target="_blank"
                                                     data-bn-ipg="bbs-index-top-writerName-1" th:text="${info.nickname}"></a></p>
                                <a href="http://bbs.qyer.com/thread-2893447-1.html" target="_blank" class="cs-title"
                                   data-countlen="0" data-bn-ipg="bbs-index-top-title-1" th:text="${info.backgroundAlt}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="cn-sy" th:each="info, state: ${adverts}">
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2893447-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-1"><span class="csli-span"><img
                               src="http://118.25.102.29:8084/img/101.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2893447-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2886219-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-2"><span class="csli-span"><img
                                src="http://118.25.102.29:8084/img/102.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2886219-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2894887-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-3"><span class="csli-span"><img
                                src="http://118.25.102.29:8084/img/103.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2894887-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2823521-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-4"><span class="csli-span"><img
                                src="http://118.25.102.29:8084/img/104.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2823521-1.html" class="csl-b" target="_blank"></a>
                    </li>
                    <li class="">
                        <a href="http://bbs.qyer.com/thread-2893449-1.html" target="_blank" class="csl-i"
                           data-bn-ipg="bbs-index-top-icon-5"><span class="csli-span"><img
                                src="http://118.25.102.29:8084/img/105.jpg"></span></a><a
                            href="http://bbs.qyer.com/thread-2893449-1.html" class="csl-b" target="_blank"></a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- 背景模糊 -->
        <div class="cnbgwrap" th:each="info, state: ${adverts}">
            <div th:class="${state.index==1}? 'cnb-wp bgzdx':'cnb-wp'">
                <img th:src="@{${info.backbackPic}}"
                     class="cn-bg cnb-show">
            </div>
        </div>
    </div>

    <!--内容列表部分-->
    <div id="conContainer" style="margin-left: 15%">
        <div>
                <label style="float: left;">时间：</label>
                <select class="form-control" style="width:200px; float: left" id="nowdaysSearch">
                    <option value="">请选择</option>
                    <option value="week">最近一周</option>
                    <option value="month">最近一月</option>
                </select>
                <label style="float: left;margin-left: 50px;">板块：</label>
                <select class="form-control" style="width:200px;float: left" id="plateSearch">
                    <option value="">请选择</option>
                    <option th:each="info, state:${plates}" th:value="${info.id}" th:text="${info.name}"/>
                </select>
                <button class="btn btn-default" style="float: left;margin-left: 50px;" type="button" onclick="articleSearch();">搜索</button>
        </div>
        <br style="clear: both;">
        <div id="ArticleContent" style="margin-top: 50px;"></div><br>
        <div id="example" style="text-align: center; margin-top: 50px; margin-bottom: 50px; clear: both;"> <ul id="pageLimit" style="margin: auto;"></ul> </div>
    </div>

    <!-- 底部调用文件 -->
    <div style="display: none;">http://www.qyer.com/</div>
    <div class="qyer_footer">
        <div class="topline"></div>
        <div class="content">
            <p class="nav">
                <a href="http://www.qyer.com/htmlpages/about.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-about-1">穷游简介</a>
                <a href="http://www.qyer.com/partner/" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-about-3">合作伙伴</a>
                <a href="http://www.qyer.com/job/" target="_blank" rel="nofollow" data-bn-ipg="foot-join-1">加入我们</a>
                <a href="http://site.qyer.com/tyro/" target="_blank" rel="nofollow" data-bn-ipg="foot-help-1">新手上路</a>
                <a href="http://m.qyer.com/guide/page/aEKs7ooblmk/?lk=1" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-help-2">使用帮助</a>
                <a href="http://www.qyer.com/sitemap.html" target="_blank" data-bn-ipg="foot-help-4">网站地图</a>
                <a href="http://www.qyer.com/htmlpages/member.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-1">会员条款</a>
                <a href="http://www.qyer.com/htmlpages/bbsguide.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-2">社区指南</a>
                <a href="http://www.qyer.com/htmlpages/copyright.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-3">版权声明</a>
                <a href="http://www.qyer.com/htmlpages/exemption.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-clause-4">免责声明</a>
                <a href="http://www.qyer.com/htmlpages/contact.html" target="_blank" rel="nofollow"
                   data-bn-ipg="foot-about-2">联系我们</a>
            </p>
            <p class="info">
                2004-2018 © 穷游网® qyer.com All rights reserved. Version v5.57 京ICP备12003524号 京公网安备11010102001935号
                京ICP证140673号
                <a target="_blank" style="color:inherit;" href="http://static.qyer.com/images/yyzz.jpg">营业执照</a>
                <a target="_blank" style="color:inherit;" href="http://static.qyer.com/images/jyxkz.jpg">经营许可证</a>
            </p>

            <!--友情链接模块-->

        </div>
    </div>
    <!-- 聊天框 -->
    <div class="modal fade" id="chatBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="chatFromNickname"></h4>
                </div>
                <div class="modal-body" id="chatlog">
                    <div class="leftd">
                        <span ng-class="leftd_h">
                            <img ng-src="./img/c_pic.pn" />
                        </span>
                        <div class="speech left" ng-class="speech left">
                            穿上一套民族风的裙装,二货，你看你傻样！
                        </div>
                    </div>
                    <div class="rightd">
                        <span ng-class="rightd_h">
                            <img ng-src="./img/u_pic.pn" />
                        </span>
                        <div class="speech right" ng-class="speech left">
                            嘻嘻嘻嘻。。。。。。描述写得不好，看不懂可
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="clear: both;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="chatContent">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="chatSend();">发送</button>
                    </span>
                    </div><!-- /input-group -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（评论） -->
    <div class="modal fade" id="commentListModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <label>评论区</label>
                    </h4>
                </div>
                <div class="modal-body" id="commentList"></div>
                <div class="modal-body">
                    <label>评论：</label>
                    <input type="text" class="form-control" id="commentContent">
                    <button value="发表" onclick="addComment();"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addComment();">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（发帖） -->
    <div class="modal fade" id="toCreateArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                        <label>标题：</label>
                        <input class="form-control" type="text" id="title">
                    </h4>
                </div>
                <div class="modal-body">
                    <label>板块：</label>
                    <select class="form-control" style="width:200px;float: left" id="plateAdd">
                        <option th:each="info, state:${plates}" th:value="${info.id}" th:text="${info.name}"/>
                    </select>
                    <label>内容：</label>
                    <input class="form-control" type="text" id="content">
                </div>


                <input id="file-zh" name="files" type="file" class="file" multiple>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addArticle();">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

<!-- 评论 -->
<script type="text/javascript"  th:inline="javascript">
    function addComment(){
        var userId = [[${session?.user?.id}]];
        if(null==userId||""==userId){
            window.location.href = "/user/tologin";
            return;
        }
        var articleId = $(".article_id").val();
        var content = $("#commentContent").val();
        $.ajax({
            url:[[${session?.serviceUrl}]]+'addComment',
            data:{
                userId: userId,
                articleId: articleId,
                content: content
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    $("#commentListModel").modal('hide');
                    $("#commentContent").val("");
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_SUCCESS,
                        title : 'success',
                        message : '评论成功',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        }
                    });
                }else {
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_DANGER,
                        title : 'error ',
                        message : '评论失败',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        }
                    });
                }
            },
            error:function(){
                $("#commentListModel").modal('hide');
                $("#commentContent").val("");
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    title : 'error ',
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    }
                });
            }
        });

    }

    function commentList(obj){
        var articleId = $(obj).parent().next().find(".articleId").text();
        $("#commentListModel").modal('show');
        $.ajax({
            url:[[${session?.serviceUrl}]]+'commentList',
            data:{
                articleId: articleId
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    //$("#commentListModel").modal('hide');
                    var list = data.data;
                    var str = '';
                    if(list.length>0){
                        for(var i=0;i<list.length;i++){
                            str += list[i].nickname+":" + list[i].content + "</br>";
                        }
                        str += '<input class="article_id" type="text" style="display: none" value="'+list[0].articleId+'"/>';
                        $("#commentList").html(str);
                    } else{
                        str += '<input class="article_id" type="text" style="display: none" value="'+ articleId +'"/>'
                        $("#commentList").html(str);
                    }
                }else {
                    $("#commentList").html('');
                }
            },
            error:function(){
                $("#commentList").html('');
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    title : 'error ',
                    message : '请登陆',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    }
                });
            }
        });
    }
</script>
</div>
<!-- 聊天script -->
<script type="text/javascript" th:inline="javascript">
    var websocket = null;

    $(function(){
        var userId = [[${session?.user?.id}]];
        if(null==userId||""==userId){
            return;
        }
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            websocket = new WebSocket("ws://localhost:8081/websocketTest/"+userId);
        } else {
            alert('当前浏览器 Not support websocket')
        }
        $.ajax({
            url: [[${session?.serviceUrl}]] + 'getChatList',
            data: {
                userId: userId
            },
            dataType: 'JSON',
            type: 'POST',
            success: function (data) {
                if ("200" == data.code) {
                    var chatList = data.data;
                    var str = "";
                    for(var i=0;i<chatList.length;i++){
                        str += '<li class="list-group-item" onclick="chat(this,'+chatList[i].fromId+');">'+chatList[i].fromNickName;
                        if(0==chatList[i].state){
                            str += '<span class="badge">未读</span>'
                        }
                        str += '</li>';
                    }
                    $("#chatTable").html(str);
                } else {

                }
            }
        })
    });
    function chat(obj,fromId){
        $(obj).find("span").remove();
        var userId = [[${session?.user?.id}]];
        var fromnick = $(obj).text();
        $.ajax({
            url: [[${session?.serviceUrl}]] + 'getChatLog',
            data: {
                toId: userId,
                fromId: fromId
            },
            dataType: 'JSON',
            type: 'POST',
            success: function (data) {
                if ("200" == data.code) {
                    var headPic = 'http://118.25.102.29:8084/img'+[[${session?.user?.headPic}]];
                    var logList = data.data;
                    $("#chatFromNickname").text(fromnick);
                    $("#chatFromNickname").attr('userId',fromId);
                    var str = "";
                    for(var i=0;i<logList.length;i++){
                        if(logList[i].fromId==userId){
                            str += '<div class="rightd">' +
                                '<span class="rightd_h">' +
                                '<img src="'+ headPic +'">' +
                                '</span>' +
                                '<div class="speech right">' + logList[i].content +
                                '</div>' +
                                '</div>';
                        }else {
                            str += '<div class="leftd">' +
                                '<span class="leftd_h">' +
                                '<img src="http://118.25.102.29:8084/img'+ logList[i].frompic +'" />' +
                                '</span>' +
                                '<div class="speech left"> ' + logList[i].content +
                                '</div>' +
                                '</div>'
                        }
                    }
                    $("#chatlog").html(str);
                } else {

                }
            }
        })
        $("#chatBox").modal('show');
    }
    function chat2(fromId){
        var fromId2 = Number(fromId);
        var userId = [[${session?.user?.id}]];
        $.ajax({
            url: [[${session?.serviceUrl}]] + 'getChatLog',
            data: {
                toId: userId,
                fromId: fromId2
            },
            dataType: 'JSON',
            type: 'POST',
            success: function (data) {
                if ("200" == data.code) {
                    var headPic = 'http://118.25.102.29:8084/img'+[[${session?.user?.headPic}]];
                    var logList = data.data;
                    $("#chatFromNickname").text("游客");
                    $("#chatFromNickname").attr('userId',fromId);
                    var str = "";
                    for(var i=0;i<logList.length;i++){
                        if(logList[i].fromId==userId){
                            str += '<div class="rightd">' +
                                '<span class="rightd_h">' +
                                '<img src="'+ headPic +'">' +
                                '</span>' +
                                '<div class="speech right">' + logList[i].content +
                                '</div>' +
                                '</div>';
                        }else {
                            str += '<div class="leftd">' +
                                '<span class="leftd_h">' +
                                '<img src="http://118.25.102.29:8084/img'+ logList[i].frompic +'" />' +
                                '</span>' +
                                '<div class="speech left"> ' + logList[i].content +
                                '</div>' +
                                '</div>'
                        }
                    }
                    $("#chatlog").html(str);
                } else {

                }
            }
        })
        $("#chatBox").modal('show');
    }
    //连接发生错误的回调方法
    websocket.onerror = function() {
        alert("WebSocket连接发生错误");
    };
    //连接成功建立的回调方法
    websocket.onopen = function() {
        //alert("WebSocket连接成功");
    }
    //接收到消息的回调方法
    websocket.onmessage = function(event) {
        debugger
        var messageJson=eval("("+event.data+")");
        if(messageJson.messageType=="message"){
            chatReceive(messageJson.data,messageJson.fromId);
        }
        if(messageJson.messageType=="onlineCount"){
            //document.getElementById('onlineCount').innerHTML=messageJson.data;
        }

    }
    //连接关闭的回调方法
    websocket.onclose = function() {
       // alert("WebSocket连接关闭");
    }
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function() {
        closeWebSocket();
    }
    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }
    //发送消息
    function chatSend() {
        var headPic = 'http://118.25.102.29:8084/img'+[[${session?.user?.headPic}]];
        var toId = $("#chatFromNickname").attr('userId');
        var message = $("#chatContent").val();
        websocket.send(toId+"@"+message);
        var str ='<div class="rightd">' +
            '<span class="rightd_h">' +
            '<img src="'+ headPic +'">' +
            '</span>' +
            '<div class="speech right">' + message +
            '</div>' +
            '</div>';
        $("#chatlog").append(str);
        $("#chatContent").val('');
    }
    //接收消息
    function chatReceive(mes,fromId){
        //chat2(fromId);
        var str = '<div class="leftd">' + $(".leftd").eq(0).html() + '</div>';
        $("#chatlog").append(str);
        $("#chatlog").find(".speech.left:last").text(mes);
    }
</script>
<script type="text/javascript">
    //清除模态框页面缓存
    $("#toCreateArticle").on("hidden.bs.modal", function() {
        $("#title").val("");
        $("#content").val("");
        $("#file-zh").fileinput('reset');
    });

    //轮播图定时器
    $(".cn-sy li").on("hover",function(){
        var index = $(this).index();
        $(".cn-slide").removeClass("cszdx");
        $(".cn-slide").eq(index).addClass("cszdx");
        $(".cnb-wp.bgzdx").removeClass("bgzdx");
        $(".cnb-wp").eq(index).addClass("bgzdx");
    });

    var a = $(".cn-sy li");
    var iNow = 0;
    var timer = null;
    timer=setInterval(function(){ //打开定时器
        iNow++;    //让图片的索引值次序加1，这样就可以实现顺序轮播图片
        if(iNow>a.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
            iNow=0;
        }
        a.eq(iNow).trigger("hover"); //模拟触发数字按钮的click
    },2000);

    $(".cn-sy li").mouseenter(function() {
        var index = $(this).index();
        $(".cn-slide").removeClass("cszdx");
        $(".cn-slide").eq(index).addClass("cszdx");
        $(".cnb-wp.bgzdx").removeClass("bgzdx");
        $(".cnb-wp").eq(index).addClass("bgzdx");
        clearInterval(timer);
    });
    $(".cn-sy li").mouseleave(function(){
        timer=setInterval(function(){ //打开定时器
            iNow++;    //让图片的索引值次序加1，这样就可以实现顺序轮播图片
            if(iNow>a.length-1){ //当到达最后一张图的时候，让iNow赋值为第一张图的索引值，轮播效果跳转到第一张图重新开始
                iNow=0;
            }
            a.eq(iNow).trigger("hover"); //模拟触发数字按钮的click
        },1000);
    });


    //上传文件
    $("#file-zh").fileinput({
        uploadUrl: '/upload',
    });
    $('#file-zh').on('fileuploaded', function (event, data, previewId, index) {
        var date = data.jqXHR.responseJSON;
        alert(date);
    });

    function shangchuan(){
        $('#file-zh').fileinput('upload');
    }

    function addArticle(){


        var title = $("#title").val();
        var content = $("#content").val();
        var plate = $("#plateAdd").val();
        $.ajax({
            url:'/addArticle',
            data:{
                'title': title,
                'content': content,
                'plate': plate
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    $("#toCreateArticle").modal('hide');
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_SUCCESS,
                        title : 'success',
                        message : '发表成功',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        }
                    });
                }else {
                    $("#toCreateArticle").modal('hide');
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_DANGER,
                        title : 'error ',
                        message : '添加失败',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        }
                    });
                }
            },
            error:function(){
                $("#toCreateArticle").modal('hide');
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    title : 'error ',
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    }
                });
            }
        });
    }

    //点赞

    //查看更多

    //关注
</script>
<!-- 首页 -->
<script type="text/javascript" th:inline="javascript">
    $(function () {
        showIndex();
    });
    function articleSearch(){
        showIndex();
    }
    function showIndex(){
        var plateValue = $("#plateSearch").val();
        var plate = null;
        if(""!=plateValue){
            plate = Number(plateValue);
        }
        var nowdays = $("#nowdaysSearch").val();
        var pageNum = 3;
        var totalPage = 3;
        var formdata = {
            'currentPage':1,
            'pageSize':pageNum,
            'nowdays':nowdays,
            'plate':plate
        };
        $.ajax({
            url:[[${session?.serviceUrl}]] + 'manage/getArticles',
            type:'POST',
            async: false,
            data:JSON.stringify(formdata),
            contentType: 'application/json;charset=utf-8',
            dataType:'JSON',
            success:function (callback) {
                var list = callback.data.list;
                var str = '';
                for(var i=0;i<list.length;i++){
                    var info = list[i];
                    var picture = info.pics;
                    if(picture.indexOf(",") != -1){
                        picture = picture.split(",",1);
                    }
                    var content = info.content;
                    if(content.length>200){
                        content = content.substring(0,200);
                    }
                    str +=
                        '<br>'+
                        '<div style="clear: both;">'+
                        '<img src="http://118.25.102.29:8084/img/'+info.headPic+'" onerror="this.src=\'http://118.25.102.29:8084/img/head/0.jpg\'" class="img-circle" style="width: 60px;float: left;margin-top: -20px;"/>'+
                        '<a href="/other?userId='+info.userId+'" ><p style="float: left;margin-left: 20px;" text="'+ info.nickname +'"></p></a>'+
                        '<p style="float: left;margin-left: 20px; color: #D0D0D0;">在'+ info.address +' 发布的</p>'+
                        '<p style="float: left;margin-left: 20px; color: #D0D0D0;">'+ info.zanNum +'人赞</p>'+
                        '<img src="http://118.25.102.29:8084/img/ico/zan.jpg" style="width: 20px;height: 20px; margin-left: 40px;margin-top: -25px;"/>'+
                        '<button style="margin-left: 200px;" class="btn btn-primary btn-lg" data-toggle="modal" onclick="commentList(this);">评论</button>'+
                        '</div>'+
                        '<div class="文章" style="float: left; text-indent:30px; margin-left: 50px;width:55%;">'+
                        '<p class="articleId" style="display: none">'+info.id+'</p>'+
                        '<p style="font-size: larger">标题：'+ info.title +'</p>'+
                        '<p style="color:#888888;font-style:oblique;font-size: small;float: left;">'+content+'</p>'+
                        '</div>'+
                        '<div style="float: left; margin-left: 80px;margin-top: 20px;">'+
                        '<img src="http://118.25.102.29:8084'+picture+'" height="140" width="200">'+
                        '</div>'+
                        '<br>';
                }
                $('#ArticleContent').html(str);
                totalPage = callback.data.totalPage;
                $('#last_page').text(totalPage);
            }
        });
        $('#pageLimit').bootstrapPaginator({
            currentPage: 1,
            totalPages: totalPage,
            size:"normal",
            bootstrapMajorVersion: 3,
            alignment:"right",
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }//默认显示的是第一页。
            },
            onPageClicked: function (event, originalEvent, type, page){//给每个页眉绑定一个事件，其实就是ajax请求，其中page变量为当前点击的页上的数字。
                $.ajax({
                    url:[[${session?.serviceUrl}]] + 'manage/getArticles',
                    type:'POST',
                    data: JSON.stringify({'currentPage':page,'pageSize':pageNum,'nowdays':nowdays, 'plate':plate}),
                    contentType: 'application/json',
                    dataType:'JSON',
                    success:function (callback) {
                        var list = callback.data.list;
                        var str = '';
                        for(var i=0;i<list.length;i++){
                            var info = list[i];
                            var picture = info.pics;
                            if(picture.indexOf(",") != -1){
                                picture = picture.split(",",1);
                            }
                            var content = info.content;
                            if(content.length>200){
                                content = content.substring(0,200);
                            }
                            str +=
                                '<br>'+
                                '<div style="clear: both;">'+
                                '<img src="http://118.25.102.29:8084/img/'+info.headPic+'" onerror="this.src=\'http://118.25.102.29:8084/img/head/0.jpg\'" class="img-circle" style="width: 60px;float: left;margin-top: -20px;"/>'+
                                '<a href="/other?userId='+info.userId+'" ><p style="float: left;margin-left: 20px;" text="'+ info.nickname +'"></p></a>'+
                                '<p style="float: left;margin-left: 20px; color: #D0D0D0;">在'+ info.address +' 发布的</p>'+
                                '<p style="float: left;margin-left: 20px; color: #D0D0D0;">'+ info.zanNum +'人赞</p>'+
                                '<img src="http://118.25.102.29:8084/img/ico/zan.jpg" style="width: 20px;height: 20px; margin-left: 40px;margin-top: -25px;"/>'+
                                '<button style="margin-left: 200px;" class="btn btn-primary btn-lg" data-toggle="modal" onclick="commentList(this);">评论</button>'+
                                '</div>'+
                                '<div class="文章" style="float: left; text-indent:30px; margin-left: 50px;width:55%;">'+
                                '<p class="articleId" style="display: none">'+info.id+'</p>'+
                                '<p style="font-size: larger">标题：'+ info.title +'</p>'+
                                '<p style="color:#888888;font-style:oblique;font-size: small;float: left;">'+content+'</p>'+
                                '</div>'+
                                '<div style="float: left; margin-left: 80px;margin-top: 20px;">'+
                                '<img src="http://118.25.102.29:8084'+picture+'" height="140" width="200">'+
                                '</div>'+
                                '<br>';
                        }
                        $('#ArticleContent').html(str);
                        totalPage = callback.data.totalPage;
                        $('#last_page').text(totalPage);
                    }
                })
            }
        });
    }
</script>
<!-- js文件 -->
<script src="http://common1.qyerstatic.com/bbs/js/index/index_js_btm_1954eb6a3dbe1143fea36b7629b9a0e1.js">

</script>

</body>
</html>