<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>云游四海</title>
    <link rel="shortcut icon" href="http://118.25.102.29:8084/img/long.jpg"/>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-dialog.js"></script>
	<link rel="stylesheet" href="/css/bootstrap-dialog.css">

	<style type="text/css">
		a {
			cursor:auto;
		}
	</style>
</head>

<body>
<div>
	<div >
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<p style="margin-top: 15px;color: #fcf8e3" th:inline="text">欢迎你，[[${session?.user?.nickname}]]!</p>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/index">首页</a></li>
						<li><a href="/my">我的主页</a></li>
						<li class="dropdown navbar-nav">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								神游伙伴
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu ">
								<li><a href="http://jiudian.ctrip.cn/" target="_blank">携程</a></li>
								<li><a href="http://www.tuniu.com/" target="_blank">途牛</a></li>
								<li><a href="http://www.lvmama.com/" target="_blank">驴妈妈</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div>
		<div style="width:70%; float:left;">
			<div th:each="info, state: ${list}">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="${info.title}"></h3>
						<a style="float: right;margin-top: -15px;" th:onclick="'javascript:commentList(' +${info.id}+ ')'">查看评论</a>
						<a style="float: right;margin-top: -15px; margin-right: 10px;" th:onclick="'javascript:deleteArticle(' +${info.id}+ ')'">删除文章</a>
					</div>
					<div class="panel-body" th:text="${info.content}">
					</div>
				</div>
			</div>
			<div>
				<ul class="pager">
					<li><a href="#">Previous</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
		<div style="float:right;width:20%; border-color: #398439;" >
			<img th:src="@{'http://118.25.102.29:8084/img'+${user.headPic}}" class="img-responsive img-circle" alt="个人头像" style="width: 50%;">
			<p>个人相关资料:<a data-toggle="modal" data-target="#altInfo">修改</a></p>
			<p th:inline="text">昵称：[[${user.nickname}]]</p>
			<p th:if="${user.sex} eq '1'">性别：男</p>
			<p th:if="${user.sex} eq '2'">性别：女</p>
			<p th:if="${user.email} ne null"  th:inline="text">邮箱地址：[[${user.email}]]</p>
			<p th:if="${user.email} eq null" th:inline="text">邮箱地址：未填写</p>
			<p th:if="${user.phone!=null}" th:inline="text">电话号码：[[${user.phone}]]</p>
			<p th:if="${user.phone==null}" th:inline="text">电话号码：未填写</p>
		</div>
	</div>
	<div style="width: 100%;"></div>

	<!-- 模态框（评论） -->
	<div class="modal fade" id="commentListModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						<label>评论区</label>
					</h4>
				</div>
				<div class="modal-body" id="commentList"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="addComment();">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<div class="modal fade" id="altInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">
						<label>个人信息</label>
					</h4>
				</div>
				<div class="modal-body">
					<label>昵称：</label><input type="text" th:value="${user.nickname}" id="nickname"><br>
					<label>性别：</label>
						<select id="sex">
							<option value="">请选择</option>
							<option value="1">男</option>
							<option value="2">女</option>
						</select>
					<label>邮箱：</label><input type="text" th:value="${user.email}" id="email"><br>
					<label>号码：</label><input type="text" th:value="${user.phone}" id="phone">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="saveInfo();">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>
</body>
<!-- 修改个人信息 -->
<script type="text/javascript" th:inline="javascript">
    function saveInfo(){
        var userId = [[${session.user.id}]];
        var nickname = $("#nickname").val();
        var sex = $("#sex").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        if(""==sex){
            BootstrapDialog.show({
                type : BootstrapDialog.TYPE_DANGER,
                title : 'error ',
                message : '请设置性别',
                buttons : [ {// 设置关闭按钮
                    label : '确定',
                    action : function(dialogItself) {
                        dialogItself.close();
                    }
                } ]
            });
         	return;
		}
        $.ajax({
            url:[[${session.serviceUrl}]]+'saveInfo',
            data:{
                userId:userId,
				nickname: nickname,
				sex: sex,
				email: email,
				phone: phone
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_SUCCESS,
                        message : '修改成功',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                                window.location.href = "/my";
                            }, 500);
                        }
                    });

                    //window.location.href = "http://localhost:8081/my";
                }else {
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_DANGER,
                        title : 'error ',
                        message : '修改失败',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        },
                    });
                }
            },
            error:function(){
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    title : 'error ',
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    },
                });
            }
        });
	}

    function commentList(id){
        var articleId = id;
        $("#commentListModel").modal('show');
        $.ajax({
            url:[[${session.serviceUrl}]]+'commentList',
            data:{
                articleId: articleId
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    var list = data.data;
                    var str = '';
                    if(list.length>0){
                        for(var i=0;i<list.length;i++){
                            str += list[i].nickname+":" + list[i].content + '<a  style="float:right;margin-right:-5px;" onclick="deleteComment('+list[i].id +')">'+'删除'+"</a></br>";
                        }
                        $("#commentList").html(str);
                    } else{
                        $("#commentList").html('');
                    }
                }else {
                    $("#commentList").html('');
                }
            },
            error:function(){
                $("#commentList").html('');
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    title : 'error ',
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    },
                });
            }
        });
    }

    //删除评论
    function deleteComment(id){
        var commentId = id;
        $.ajax({
            url:[[${session.serviceUrl}]]+'deleteComment',
            data:{
                commentId: commentId
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
					$("#commentListModel").modal("hide");
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_SUCCESS,
                        title : '成功',
                        message : '已删除',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        },
                    });
                }else {
                    $("#commentListModel").modal("hide");
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_DANGER,
                        title : 'error ',
                        message : '删除失败',
                        buttons : [ {// 设置关闭按钮
                            label : '确定',
                            action : function(dialogItself) {
                                dialogItself.close();
                            }
                        } ]
                    });
                }
            },
            error:function(){
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    },
                });
            }
        });
	}

	//删除文章
	function deleteArticle(id){
        var articleId = id;
        $.ajax({
            url:[[${session.serviceUrl}]]+'deleteArticle',
            data:{
                articleId: articleId
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_SUCCESS,
                        title : '成功',
                        message : '已删除',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                                window.location.href = "/my";
                            }, 500);
                        },
                    });

                }else {
                    BootstrapDialog.show({
                        type : BootstrapDialog.TYPE_DANGER,
                        title : 'error ',
                        message : '删除失败',
                        onshown : function(dialogRef) {
                            setTimeout(function() {
                                dialogRef.close();
                            }, 500);
                        }
                    });
                }
            },
            error:function(){
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    }
                });
            }
        });
	}
</script>
</html>