<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>云游四海</title>
	<link rel="shortcut icon" href="http://118.25.102.29:8084/img/long.jpg"/>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/chat.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-dialog.js"></script>
	<link rel="stylesheet" href="/css/bootstrap-dialog.css">

	<style type="text/css">
		a {
			cursor:auto;
		}
	</style>
</head>

<body>
<div>
	<div >
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<p style="margin-top: 15px;color: #fcf8e3" th:inline="text">欢迎你，[[${session?.user?.nickname}]]!</p>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/index">首页</a></li>
						<li><a href="/my">我的主页</a></li>
						<li class="dropdown navbar-nav">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								神游伙伴
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu ">
								<li><a href="http://jiudian.ctrip.cn/" target="_blank">携程</a></li>
								<li><a href="http://www.tuniu.com/" target="_blank">途牛</a></li>
								<li><a href="http://www.lvmama.com/" target="_blank">驴妈妈</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div>
		<div style="width:70%; float:left;">
			<div th:each="info, state: ${list}">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title" th:text="${info.title}"></h3>
					</div>
					<div class="panel-body" th:text="${info.content}">
					</div>
				</div>
			</div>
			<div>
				<ul class="pager">
					<li><a href="#">Previous</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</div>
		</div>
		<div style="float:right;width:20%; border-color: #398439;" >
			<img th:src="@{'http://118.25.102.29:8084/img'+${user.headPic}}" class="img-responsive img-circle" alt="个人头像" style="width: 50%;">
			<p>个人相关资料:</p>
			<p th:inline="text">昵称：[[${user.nickname}]]</p>
			<p th:if="${user.sex} eq '1'">性别：男</p>
			<p th:if="${user.sex} eq '2'">性别：女</p>
			<p th:if="${user.email} ne null"  th:inline="text">邮箱地址：[[${user.email}]]</p>
			<p th:if="${user.email} eq null" th:inline="text">邮箱地址：未填写</p>
			<p th:if="${user.phone!=null}" th:inline="text">电话号码：[[${user.phone}]]</p>
			<p th:if="${user.phone==null}" th:inline="text">电话号码：未填写</p>
			<button class="btn btn-primary btn-lg" onclick="startChat();">发起聊天</button>
		</div>
	</div>
	<div style="width: 100%;"></div>
	<!-- 聊天框 -->
	<div class="modal fade" id="chatBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="chatFromNickname"></h4>
				</div>
				<div class="modal-body" id="chatlog"  style="height:300px;overflow-y:auto;">
					<div class="leftd">
                        <span ng-class="leftd_h">
                            <img ng-src="./img/c_pic.pn" />
                        </span>
						<div class="speech left" ng-class="speech left">
							穿上一套民族风的裙装,二货，你看你傻样！
						</div>
					</div>
					<div class="rightd">
                        <span ng-class="rightd_h">
                            <img ng-src="./img/u_pic.pn" />
                        </span>
						<div class="speech right" ng-class="speech left">
							嘻嘻嘻嘻。。。。。。描述写得不好，看不懂可
						</div>
					</div>
				</div>
				<div class="modal-footer" style="clear: both;">
					<div class="input-group">
						<input type="text" class="form-control" id="chatContent">
						<span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="chatSend();">发送</button>
                    </span>
					</div><!-- /input-group -->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
	<!-- 模态框（评论） -->
	<div class="modal fade" id="commentListModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						<label>评论区</label>
					</h4>
				</div>
				<div class="modal-body" id="commentList"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary" onclick="addComment();">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>
</div>
</body>
<!-- 修改个人信息 -->
<script type="text/javascript" th:inline="javascript">

    function commentList(id){
        var articleId = id;
        $("#commentListModel").modal('show');
        $.ajax({
            url:[[${session.serviceUrl}]]+'commentList',
            data:{
                articleId: articleId
            },
            dataType:'JSON',
            type:'POST',
            success:function(data){
                if("200"==data.code){
                    var list = data.data;
                    var str = '';
                    if(list.length>0){
                        for(var i=0;i<list.length;i++){
                            str += list[i].nickname+":" + list[i].content + '<a  style="float:right;margin-right:-5px;" onclick="deleteComment('+list[i].id +')">'+'删除'+"</a></br>";
                        }
                        $("#commentList").html(str);
                    } else{
                        $("#commentList").html('');
                    }
                }else {
                    $("#commentList").html('');
                }
            },
            error:function(){
                $("#commentList").html('');
                BootstrapDialog.show({
                    type : BootstrapDialog.TYPE_DANGER,
                    title : 'error ',
                    message : '系统出错',
                    onshown : function(dialogRef) {
                        setTimeout(function() {
                            dialogRef.close();
                        }, 500);
                    },
                });
            }
        });
    }

    var websocket = null;
	//聊天
	function startChat(){
        var otherId = [[${user.id}]];
        var userId = [[${session.user.id}]];


        chat(otherId,userId);
        //判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window) {
            websocket = new WebSocket("ws://localhost:8081/websocketTest/"+userId);
        } else {
            alert('当前浏览器 Not support websocket')
        }
        //连接发生错误的回调方法
        websocket.onerror = function() {
            alert("WebSocket连接发生错误");
        };
        //连接成功建立的回调方法
        websocket.onopen = function() {
            //alert("WebSocket连接成功");
        }
        //接收到消息的回调方法
        websocket.onmessage = function(event) {
            debugger
            var messageJson=eval("("+event.data+")");
            if(messageJson.messageType=="message"){
                chatReceive(messageJson.data,messageJson.fromId);
            }
            if(messageJson.messageType=="onlineCount"){
                //document.getElementById('onlineCount').innerHTML=messageJson.data;
            }

        }
        //连接关闭的回调方法
        websocket.onclose = function() {
            //alert("WebSocket连接关闭");
        }
        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function() {
            closeWebSocket();
        }

	}

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }
    //发送消息
    function chatSend() {
        var headPic = 'http://118.25.102.29:8084/img'+[[${session.user.headPic}]];
        var toId = $("#chatFromNickname").attr('userId');
        var message = $("#chatContent").val();
        websocket.send(toId+"@"+message);
        var str ='<div class="rightd">' +
            '<span class="rightd_h">' +
            '<img src="'+ headPic +'">' +
            '</span>' +
            '<div class="speech right">' + message +
            '</div>' +
            '</div>';
        $("#chatlog").append(str);
        $("#chatContent").val('');
		var div = document.getElementById('chatlog');
		div.scrollTop =div.scrollHeight;
    }
    //接收消息
    function chatReceive(mes,fromId){
        //chat2(fromId);
        var str = '<div class="leftd">' + $(".leftd").eq(0).html() + '</div>';
        $("#chatlog").append(str);
        $("#chatlog").find(".speech.left:last").text(mes);
		var div = document.getElementById('chatlog');
		div.scrollTop =div.scrollHeight;
    }

    function chat(otherId, userId){
        $("#chatBox").modal('show');
        $.ajax({
            url: [[${session.serviceUrl}]] + 'getChatLog',
            data: {
                toId: userId,
                fromId: otherId
            },
            dataType: 'JSON',
            type: 'POST',
            success: function (data) {
                if ("200" == data.code) {
                    var headPic = 'http://118.25.102.29:8084/img'+[[${session.user.headPic}]];
                    var logList = data.data;
                    $("#chatFromNickname").text("游客");
                    $("#chatFromNickname").attr('userId',otherId);
                    var str = "";
                    for(var i=0;i<logList.length;i++){
                        if(logList[i].fromId==userId){
                            str += '<div class="rightd">' +
                                '<span class="rightd_h">' +
                                '<img src="'+ headPic +'">' +
                                '</span>' +
                                '<div class="speech right">' + logList[i].content +
                                '</div>' +
                                '</div>';
                        }else {
                            str += '<div class="leftd">' +
                                '<span class="leftd_h">' +
                                '<img src="http://118.25.102.29:8084/img'+ logList[i].frompic +'" />' +
                                '</span>' +
                                '<div class="speech left"> ' + logList[i].content +
                                '</div>' +
                                '</div>'
                        }
                    }
                    $("#chatlog").html(str);

                    setTimeout(function () {
                        var div = document.getElementById('chatlog');
                        div.scrollTop =div.scrollHeight;
                    }, 100);

                } else {

                }
            }
        })


    }

</script>
</html>